.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;

  .form__label {
    margin: 1em;
    color: var(--second-color);
    font-weight: 900;
    font-size: 1.2em;
  }

  .form__input {
    margin-left: 0.5em;
    padding: 0.5em;
    height: 2em;
    border-color: var(--second-color);
  }

  .form__button:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
  }
}

@media all and (min-width: 768px) {
  .form__div {
    display: flex;
  }

  .form__input {
    margin: 0.5em;
  }
}
