.header__logo {
  height: 150px;
  margin-bottom: 1em;
  cursor: pointer;
}

.header__text {
  padding: 0 2em;
  line-height: 1.5;
}

@media all and (min-width: 768px) {
  .header__text {
    margin: 0 auto;
    max-width: 70%;
  }
}

@media all and (min-width: 1280px) {
  .header__text {
    max-width: 50%;
  }
}
