.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 222px;
  box-shadow: var(--big-color) 0px 1px 4px, var(--big-color) 0px 0px 0px 3px;
  border-radius: 5%;
  padding: 1em;
  margin: 1em;
  background-color: var(--champagne);

  .movie__image {
    border: 1px black solid;
  }

  .movie__title {
    font-weight: 900;
    margin: 0.5em 0;
  }

  .movie__text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;
  }
}

.movie:hover {
  background-color: var(--light-persian-green);
}

.movie-section {
  display: flex;
  justify-content: center;
  align-content: center;
}
