.button {
  cursor: pointer;
  text-transform: uppercase;
  margin: 1em 0;
  padding: 0.7em;
  border-radius: 10px;
  color: var(--big-color);
  border-color: var(--big-color);
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--big-color);
  color: white;
}
