:root {
  /* colors */
  --champagne: #f9e8d0;
  --light-champagne: #fdf8f5;
  --red: #d84b33;
  --dark-red: #c5270c;
  --orange: #e68a2e;
  --persian-green: #459c94;
  --light-persian-green: #459c9454;
  --dark-persian-green: #02766c;
  --black: #3d301d;
  --big-color: var(--dark-red);
  --second-color: var(--dark-persian-green);
  /* font */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  word-spacing: 0.5ch;
}
